<template>
  <div class="home">
    <h1>TODO app</h1>
    <AddTodo @todo:add="pushTodo" />
    <ul v-if="todos.length">
      <li v-for="(todo, index) in todos" :key="index">
        {{ todo }}
      </li>
    </ul>
    <div v-else>No entries yet.</div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import AddTodo from '@/components/AddTodo.vue'

interface Data {
  todos: string[]
}

export default Vue.extend({
  name: 'Home',
  components: {
    AddTodo,
  },
  data(): Data {
    return {
      todos: [],
    }
  },
  methods: {
    pushTodo(todo: string): void {
      this.todos.push(todo)
    },
  },
})
</script>
