<template>
  <div class="add-todo-form">
    <input type="text" v-model="todo" @keyup.enter="addTodo" />
    <button @click="addTodo">ADD</button>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

interface Data {
  todo: string
}

export default Vue.extend({
  name: 'AddTodo',
  data(): Data {
    return {
      todo: '',
    }
  },
  methods: {
    addTodo(): void {
      this.$emit('todo:add', this.todo)
    },
  },
})
</script>

<style scoped lang="scss">
.add-todo-form {
  margin-bottom: 1rem;
}

h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
